html,body {
    background-color: #E4AF9D;
    background: hsl(59, 100%, 77%);
    font-family: monospace;
    font-size:20px;
}
span, #result{
    color:black;
    
}
form {
    width: 1000px;
    padding:20px;
    border: solid;
    border-color: rgb(255, 185, 55);
    height: 200px;
    background: radial-gradient(farthest-side ellipse at top right, rgb(255, 238, 141), #ffa1a1, rgb(255, 238, 141), #ffa1a1 , #ffa1a1, rgb(255, 238, 141) , #ffa1a1);
    box-shadow: 5px 10px 20px rgba(0,0,0,0.3), -5px -10px 20px rgba(255,255,255,0.5);
    }

@media screen and (max-device-width:780px) {
    form{
        width: max-content;
        height: fit-content;
    }
    #optionSpecial{
        font-size: 12px;
        width: 101px;
    }
    #VIP{
        width: 150px;
        font-size: 12px;
    }
}
