body {
    font-size: 20px;
    background-image: url(wall.jpg);
}

.header, .nav, .links, .table, .form, .footer {
    background-color: rgb(128,255,109,1);
    padding: 0.2em;
    border-style: double;
    border-color: #000d5c;
    border-image: initial;
}

.container {
    width: 960px;
    margin: 0.5em auto;
    padding-bottom: 0.1em;
}

#bheader {
    margin: 0 2em;
    border-style: double;
    border-color: #000d5c;
    border-image: initial;
}

.nav a{
    margin-right: 1em;
}

b {
    font-size: 36px;
}

table {
    background-color: white;
    border: 1px solid;
    border-collapse: collapse;
    border-style: double;
    border-style: double;
    border-color: #000d5c;
    border-image: initial;
}

td{
    border: 1px rgb(128,255,109,1);
    padding: 3px 5px 3px 5px;
    text-align: center;
    border-style: double;
    border-color: #000d5c;
    border-image: initial;
}

tr:nth-child(odd) {
    background-color: #000d5c;
    border-style: double;
    border-style: double;
    border-color: #000d5c;
    border-image: initial;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
th, .nech td{
    color: rgb(200, 200, 200);
    background-color: rgb(128,255,109,1);
}
